@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.user {
  // border: 1px solid $background-color;
  border-radius: 20px;
  padding: 0.5rem;
  background-color: $card-patient-color;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 14rem;
  // min-width: 18rem;
  // max-width: 30rem ;
  // width: auto;

  @include tablet {
    width: 30%;
  }

  @include desktop {
    width: 25%;
  }

  &__title{
    text-align: center;
  }

  &__container{
    @include flex( center, center);
    @include direction(column)
  }

  &__label{
    font-size: 1rem;
    margin: 0.5rem auto;
  }

  &__link {
    text-align: center;
    text-decoration: underline;
    font-size: 0.9rem;
  }


}
