@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin direction($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin button-one {
  width: 100%;
  border: none;
  height: 2rem;
  border-radius: 50px;
  background-color: $background-color;
  color: $button-font-color;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  @include tablet {
    width: 10rem;
  }
}
