@use "./variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin direction($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin button-one {
  width: 17rem;
  border: none;
  height: 2rem;
  border-radius: 50px;
  background-color: $cool-color;
  color: $button-font-color;
  cursor: pointer;
  box-shadow: $box-shadow;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 1;
  transition: opacity 1s;
  font-size: 1rem;

  &--delete {
    background-color: $red-color;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }

  @include tablet {
    width: 13.5rem;
  }
}

@mixin button-two {
  @include button-one;
  font-size: 0.7rem;
  width: 4.5rem;

  @include tablet{
    width: 6rem;
    font-size: 0.8rem;
  }

}

@mixin input {
  border: $border;
  border-radius: 50px;
  height: 2rem;
  background-color: $input-color;
  padding-left: 0.75rem;

  @include tablet {
    width: 28rem;
  }


}
