$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$background-color: #606c38;
$card-background-color: #e9edc9;
$card-patient-color: #e6ccb2;

$main-font-color: #283618;
$button-font-color: #FFFFFF;
$invalid-font-color: #A9B7C0;


$border:1px solid $background-color;
