@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.profile {
  margin: 2rem 1rem;
  //   border: 1px solid $background-color;
  //   border-radius: 20px;
  //   padding: 0.5rem;

  @include tablet {
    margin: 2rem;
  }

  @include desktop {
    @include flex(center, center);
    padding: 0rem 8rem;
    margin-top: 0;
  }

  &__wrap {
    @include desktop {
      width: 63.75rem;
    }
  }

  &__container {
    @include direction(row);
    @include flex(start, center);
    gap: 1rem;

    @include tablet {
      @include flex(end, center);
    }
  }

  &__title {
    font-size: 1.8rem;
  }

  &__heading {
    font-style: italic;
    font-size: 1.3rem;
  }

  &__picture {
    width: 5rem;

    @include tablet {
      order: 1;
    }
  }

  &__list {
    margin-bottom: 2rem;
  }

  &__patients {
    @include direction(column);
    @include flex(center, center);
    gap: 1rem;
    width: 100%;

    @include tablet {
      flex-wrap: wrap;
      @include direction(row);
      @include flex(center, start);
    }

    @include desktop {
      gap: 3rem;
    }
  }

  &__settings {
    @include direction(column);
  }

  &__box {
    @include direction(row);
    @include flex(start, center);
    gap: 1rem;
  }

  &__label {
    margin: 0;
    font-size: 1rem;

    &-italic {
      font-style: italic;
    }
  }

  &__email {
    font-size: 1.1rem;
    text-decoration: underline;
  }

  &__buttons {
    @include direction(column);
    gap: 1rem;
    margin-top: 1.5rem;

    @include tablet {
      @include direction(row);
      gap: 1rem;
    }
  }

  &__action {
    @include button-one;
  }
}
