@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.profile {
  margin: 2rem 1rem;
  //   border: 1px solid $background-color;
  //   border-radius: 20px;
  //   padding: 0.5rem;


  &__container {
    @include direction(row);
    @include flex(start, center);
    gap: 1rem;
  }

  &__title {
    font-size: 1.8rem;
  }

  &__heading {
    font-style: italic;
    font-size: 1.3rem;
  }

  &__picture {
    width: 5rem;
  }

  &__list {
    margin-bottom: 2rem;
  }

  &__settings {
    @include direction(column);
  }

  &__box {
    @include direction(row);
    @include flex(start, center);
    gap: 1rem;
  }

  &__label {
    // text-decoration: underline;
    // color: $background-color;
    margin: 0;
    font-size: 1rem;

    &-italic {
      font-style: italic;
    }
  }

  &__email {
    font-size: 1.1rem;
    text-decoration: underline;
  }

  &__buttons{
    @include direction(column);
    gap: 1rem;
    margin-top: 1.5rem;
  }

  &__action{
    @include button-one;

  }
}
