@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.card {
  background-color: $card-background-color;
  padding: 2rem 1rem;
  border-radius: 50px;
  @include flex(Center, center);
  @include direction(column);
  box-shadow: $box-shadow;
  width: 14rem;
  gap: 2rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  @include tablet {
    width: 14rem;
  }

  &__top {
    @include flex(center, center);
    @include direction(column);
    gap: 0.5rem;
  }

  &__title {
    font-size: 1.6rem;
    margin: 0;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 1rem;
    margin: 0;
  }

  &__schedule {
    @include flex(center, center);
    gap: 2rem;
  }

  &__timebox {
    @include direction(column);
    gap: 0.5rem;
  }

  &__time {
    margin: 0;
  }

  &__compliance {
    margin: 0;
    font-weight: 800;
  }

  &__button {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(../../assets/images/taken.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: $box-shadow;
    border: none;
    cursor: pointer;

    &--totake {
      @extend .card__button;
      background-image: url(../../assets/images/totake.png);
    }

  }

  &__expand {
    font-size: 0.65rem;
    text-decoration: underline;
  }
}
