@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  background-image: linear-gradient(
    120deg,
    $background-color,
    $main-font-color
  );
  color: white;
  margin-top: 1rem;
  @include flex(center, center);
  @include direction(column);
  width: 100%;
  margin-top: auto;

  &__wrap {
    @include direction(column);
    @include flex(center, center);
    margin-top: 1rem;
    padding: 0 1rem;
    width: 20rem;
    position: relative;
  }

  &__container {
    @include flex(space-between, baseline);
    gap: 1rem;
    width: 100%;
    padding: 0rem 1rem;
  }

  &__iconbox {
    @include flex(space-between, center);
  }

  &__imagebox {
    @include flex(center, center);
    position: relative;
  }

  &__title {
    margin: 0.5rem 0;
    font-size: 1.1rem;

    @include tablet {
      font-size: 1.4rem;
    }
  }

  &__text {
    margin: 0.5rem 0;
    font-size: 0.8rem;

    @include tablet {
      font-size: 0.9rem;
    }
  }

  &__legal {
    font-size: 0.7rem;
    margin: 0;
  }

  &__copyright {
    @include flex(center, center);
    padding: 0.5rem 0 1rem 0;
  }

  &__image {
    width: 3.5rem;
    @include tablet {
      position: absolute;
      right: -15rem;
      bottom: 1rem;
    }
  }

  &__pill {
    display: none;
    @include tablet {
      display: block;
      position: absolute;
      width: 4rem;
      left: -6rem;
      top: 2.5rem;
    }
  }

  &__icon {
    width: 1.55rem;

    @include tablet {
      width: 2rem;
    }
  }
}
