@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
    background-color:$background-color ;
    color: white;

  &__wrap {
    @include direction(column);
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;

    @include tablet {
      @include direction(row);
      @include flex(center, baseline);
      padding: 2rem;
      gap: 6rem;
    }
  }

  &__title {
    // text-decoration: underline;
    margin: 0.5rem 0;
  }

  &__text {
    margin: 0.5rem 0;
  }

//   &__box {
//     margin: 0;
//     @include tablet {
//       @include direction(column);
//     }
//   }
}
