@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  color: $main-font-color;
  background-color: $white-background-color;
  background-image: url("/assets/images/pattern.png");
  background-repeat: repeat;
  background-size: 12rem 12rem;
  background-position: top center;
}

input,
textarea,
button,
select  {
  position: relative;
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  color: $main-font-color;
}

a {
  text-decoration: none;
  color: $main-font-color;
}

body {
  min-height: 100vh;
}

.route {
  min-height: 100vh;
}
