@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home {
  @include flex(center, center);
  @include direction(column);

  &__container {
    @include direction(column);
    @include flex(center, center);
    width: 100%;
    padding: 1rem 0;

    @include tablet {
      padding: 0 1rem;
    }
    @include desktop {
      width: 63.75rem;
    }
  }

  &__title {
    @include tablet {
      font-size: 3rem;
      margin: 0.5rem;
    }
  }

  &__patientlist {
    width: 100%;
    padding: 0 1rem;
    @include flex(center, center);
    @include direction(column);
    gap: 3rem;
    margin-bottom: 2rem;

    @include tablet {
      @include direction(column);
      gap: 4rem;
      padding: 0;
    }
  }
}
